@font-face {
  font-family: 'helvetica neue';
  src: url('fonts/HelveticaNeueMedium.eot');
  src: url('fonts/HelveticaNeueMedium.eot') format('embedded-opentype'),
    url('fonts/HelveticaNeueMedium.woff2') format('woff2'),
    url('fonts/HelveticaNeueMedium.woff') format('woff'),
    url('fonts/HelveticaNeueMedium.otf') format('opentype'),
    url('fonts/HelveticaNeueMedium.ttf') format('truetype'),
    url('fonts/HelveticaNeueMedium.svg') format('svg');
}

@font-face {
  font-family: 'helvetica-neue-bold';
  src: url('fonts/HelveticaNeueBold.eot');
  src: url('fonts/HelveticaNeueBold.eot') format('embedded-opentype'),
    url('fonts/HelveticaNeueBold.woff2') format('woff2'),
    url('fonts/HelveticaNeueBold.woff') format('woff'),
    url('fonts/HelveticaNeueBold.otf') format('opentype'),
    url('fonts/HelveticaNeueBold.ttf') format('truetype'),
    url('fonts/HelveticaNeueBold.svg') format('svg');
}

* {
  font-family: 'helvetica-neue', 'Helvetica Neue', sans-serif;
  font-weight: 600;
  /* color: rgb(23, 26, 28); */
  color: white;
}

html {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  background: #1a191b;
}

body {
  margin: 0;
}

.container {
  background: #1a191b;
  /* background-color: rgb(23, 26, 28); */
  /* background: #fad4b3; */
  height: 100%;
  width: 100%;
  min-height: 100%;
  margin: 0;
}

.wrapper {
  z-index: 30;
}

.header {
  position: fixed;
  top: 5%;
  left: 5%;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header .name {
  width: 15%;
}

.header .line {
  width: 50%;
  margin-top: 1px;
  height: 2px;
  /* background-color: rgb(23, 26, 28); */
  background: white;
  display: none;
}

.header .typo {
  width: 35%;
  text-align: right;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.typo .small-line {
  width: 4rem;
  /* border-top:1px solid black; */
  border-top: 1px solid white;
}

.typo .small-line.bottom {
  /* border-bottom:1px solid black; */
  border-bottom: 1px solid white;
  border-top: 0;
  transform: translateY(-50%);
}

.typo {
  display: flex;
}
/* .header .line::before {
  content: '';
  height: 5px;
  color: white;
  background-color: white;
  width: 100%;
} */

.footer {
  position: fixed;
  bottom: 5%;
  left: 5%;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.gradient {
  width: 100vw;
  height: 100vh;
  position: fixed;
  /* background-image: linear-gradient(
    to bottom,
    rgba(23, 26, 28, 1) 0%,
    rgba(23, 26, 28, 0) 30%,
    rgba(23, 26, 28, 0) 70%,
    rgba(23, 26, 28, 1) 100%
  ); */
  /* background-image: linear-gradient(
    to bottom,
    #fad4b3 0%,
    #fafafa00 20%,
    #fafafa00 80%,
    #fad4b3 100%
  ); */
  background-image: linear-gradient(
    to bottom,
    #1a191b 0%,
    #1a191b00 20%,
    #1a191b00 80%,
    #1a191b 100%
  );
  z-index: 25;
}

.body-container {
  height: 100vh;
  overflow: scroll;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.section {
  background-color: transparent;
  position: static;
  min-height: 100vh;
  display: flex;
  align-items: center;
  margin-left: 10%;
  z-index: 30;
}

.two {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 65%;
  justify-content: center;
  align-items: center;
}

.three {
  width: 80vw;
  height: 100%;
  min-height: 26vw;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.cover {
  display: none;
  position: absolute;
  width: 88vw;
  height: 100vh;
  z-index: 20;
  /* background-color: rgb(23, 26, 17); */
  background-color: #1a191b;
}

.icon {
  width: 25px;
  height: 25px;
  transform: translateY(-25%);
  filter: invert(100%);
}

.mail-icon {
  width: 20px;
  height: 15px;
  filter: invert(100%);
}

/************/
/*  EFECTS  */
/************/

.container {
  animation: 2s fadeIn;
  /* animation-fill-mode: forwards; */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

.big-link-parent {
  /* backface-visibility: hidden; */
  position: relative;
  /* top: 5rem; */
  text-align: center;
  display: inline-block;
  z-index: 30;
}

.big-link {
  /* color: rgb(23, 26, 28); */
  color: white;
  position: relative;
  cursor: pointer;
  margin: auto;
  transition-duration: 0.9s;
  /* clip-path: inset(0 0% 0 0); */
  clip-path: inset(0 100% 0 0);
  transition-property: clip-path;
  display: inline-block;
  z-index: 100;
}

.big-link-base {
  opacity: 0.5;
  cursor: pointer;
  position: relative;
  bottom: 4vw;
  display: inline-block;
  z-index: 25;
}

/* .three:hover .big-link {
  clip-path: inset(0 0% 0 0);
} */

.big-link-parent:hover .big-link {
  clip-path: inset(0 0% 0 0);
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

/****************/
/*  TYPOGRAPHY  */
/****************/

h1 {
  font-size: 7vw;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0;
  z-index: 0;
  font-family: 'helvetica-neue-bold', 'Helvetica Neue', sans-serif;
}

h3 {
  font-size: 1vw;
  line-height: 1vw;
  margin: 0;
  z-index: 30;
}

a {
  text-decoration: none;
}

.typo {
  font-size: 0.9rem;
}

p {
  font-family: 'helvetica-neue', sans-serif;
  font-weight: normal;
  font-size: 2.5vw;
  text-align: left;
  line-height: 3vw;
  margin-bottom: 0;
}

.big-link {
  font-size: 4vw;
}

.big-link-base {
  font-size: 4vw;
  margin-top: -11px;
}

.after::after,
.after::before {
  content: '';
  height: 2px;
  position: absolute;
  bottom: 0;
}

.after::after {
  transition: width 0.8s 0.4s;
  width: 100%;
  right: 0;
}

.after::before {
  transition: width 0.8s 0s;
  width: 0;
  left: 0;
}

.after::after,
.after::before {
  background: transparent;
}

@media screen and (max-width: 950px) {
  .after:hover .after::after {
    transition: width 0.8s;
    width: 0;
    /* background: rgb(23, 26, 17); */
    background: #1a191b;
  }
  .after:hover .after::before {
    transition: width 0.8s 0.3s;
    width: 0;
    /* background: rgb(23, 26, 17); */
    background: #1a191b;
  }
}

/************/
/*  SCROLL  */
/************/

.scroll-down {
  transition: opacity 0.5s ease;
  height: 5%;
  width: 1%;
  position: fixed;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: flex-end;
  z-index: 10;
}

.scroll-strong {
  display: flex;
  align-items: center;
}

.scroll-down .scroll-label {
  font-size: 0.8vw;
  font-family: 'helvetica-neue', sans-serif;
  margin-right: 0px;
  letter-spacing: 1px;
  text-transform: uppercase;
  /* color: rgb(23, 26, 28); */
  color: white;
  transform: rotate(-90deg);
}

.scroll-line {
  width: 2px;
  overflow: hidden;
  bottom: 0;
  height: 100px; /* 72px */
  margin: 0 auto;
  pointer-events: none;
}

.scroll-line:after {
  width: 100%;
  height: 100%;
  display: block;
  content: '';
  /* background: linear-gradient(
    to bottom,
    rgba(23, 26, 28, 1) 50%,
    rgba(255, 255, 255, 0) 50%
  ); */
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 0) 50%
  );
  background-position: 0 -100px; /* 0 -72 */
  background-size: 100% 200%;
  animation: scrolldown 2.2s cubic-bezier(0.76, 0, 0.3, 1) forwards infinite;
}

@keyframes scrolldown {
  0% {
    background-position: 0 -100px; /* 0 -72 */
  }
  75% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 100px; /* 0 -72 */
  }
}

@media screen and (max-width: 1600px) {
  /* big screen */
  .header .name {
    width: 20%;
  }

  .header .line {
    width: 50%;
  }

  .header .typo {
    width: 30%;
  }

  .three {
    min-height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* .big-link-base {
    font-size: 3rem;
    bottom: 3rem;
  }

  .big-link {
    font-size: 3rem;
  } */
}

@media screen and (max-width: 1200px) {
  .header .name {
    width: 20%;
  }
  .header .line {
    width: 50%;
  }

  .header .typo {
    width: 30%;
  }

  .three {
    min-height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* h1 {
    font-size: 5rem;
  }

  h3,
  .typo {
    font-size: 0.7rem;
  }

  .big-link-base {
    font-size: 3rem;
    bottom: 3rem;
  }

  .big-link {
    font-size: 3rem;
  }

  p {
    font-size: 2rem;
    line-height: 2.5rem;
  } */
}

@media screen and (max-width: 950px) {
  /* h1 {
    font-size: 4rem;
  } */

  .scroll-down .scroll-label {
    font-size: 1.2vw;
  }

  .two {
    width: 80% !important;
  }

  .three {
    min-height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .big-link-base {
    display: none;
  }

  .big-link {
    clip-path: inset(0 0% 0 0);
    /* font-size: 2rem; */
  }

  /* h3,
  .typo {
    font-size: 0.6rem;
  } */
}

@media screen and (max-width: 780px) {
  .header .name {
    width: 15%;
  }

  .header .line {
    width: 50%;
  }

  .header .typo {
    width: 30%;
  }
  /* 
  h1 {
    font-size: 3rem;
  }

  h3,
  .typo {
    font-size: 0.6rem;
  }

  p {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .big-link {
    font-size: 2rem;
  } */
}

@media screen and (max-width: 500px) {
  .header {
    top: 3%;
  }

  .footer {
    bottom: 3%;
  }

  .header .name {
    width: 45%;
  }

  .header .line {
    width: 0%;
  }

  .header .typo {
    width: 50%;
  }

  h1 {
    font-size: 13vw;
  }

  h3 {
    font-size: 3vw;
    line-height: 3vw;
    margin: 0;
    z-index: 30;
    letter-spacing: 0.02rem;
  }

  a {
    text-decoration: none;
  }

  .typo {
    font-size: 2.7vw;
  }

  .small-line.bottom {
    display: none;
  }

  p {
    font-family: 'helvetica-neue', 'Helvetica Neue', sans-serif;
    font-size: 5vw;
    text-align: left;
    line-height: 7.5vw;
    margin-bottom: 0;
  }

  .scroll-strong .scroll-label {
    font-size: 2.5vw;
  }

  .big-link,
  .big-link-base {
    font-size: 5vw;
  }

  .icon {
    width: 20px;
    height: 20px;
    transform: translateY(-25%);
    filter: invert(100%);
  }

  .mail-icon {
    width: 15px;
    height: 10px;
    filter: invert(100%);
  }

  /*
  h1 {
    font-size: 2.2rem;
  }

  h3,
  .typo {
    font-size: 0.5rem;
  }

  p {
    font-size: 1.5rem;
    line-height: 1.5rem;
  } */
}

@media screen and (max-width: 300px) {
  /* h1 {
    font-size: 2rem;
  }
  h3,
  .typo {
    font-size: 0.2rem;
  }
  .big-link,
  .big-link-base {
    font-size: 0.8rem;
  }
  p {
    font-size: 1rem;
    line-height: 1.3rem;
  } */
}

@media screen and (max-width: 320px) {
  /* h1 {
    font-size: 1.3rem;
  } */
}

@media (max-width: 570px) and (max-height: 500px) {
  /* h3,
  .typo {
    font-size: 0.2rem;
  } */

  /* .scroll-strong .scroll-label {
    font-size: 0.2rem;
    margin-right: -15px;
  } */

  .scroll-line {
    width: 2px;
    overflow: hidden;
    bottom: 0;
    height: 40px;
    margin: 0 auto;
    pointer-events: none;
  }

  .scroll-line:after {
    width: 100%;
    height: 100%;
    display: block;
    content: '';
    /* background: linear-gradient(
      to bottom,
      rgba(23, 26, 28, 1) 50%,
      rgba(255, 255, 255, 0) 50%
    ); */
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 1) 50%,
      rgba(255, 255, 255, 0) 50%
    );
    background-position: 0 -40px;
    background-size: 100% 200%;
    animation: scrolldown 2.2s cubic-bezier(0.76, 0, 0.3, 1) forwards infinite;
  }

  @keyframes scrolldown {
    0% {
      background-position: 0 -40px;
    }
    75% {
      background-position: 0 0;
    }
    100% {
      background-position: 0 40px;
    }
  }

  /* .big-link,
  .big-link-base {
    font-size: 0.8rem;
  }

  p {
    font-size: 1rem;
    line-height: 1.5rem;
  } */
}
