:root {
  --primary: #69A1AC;
  --secondary: #0F1108;
  --tertiary: #FFFFFF;
}

@font-face {
  font-family: 'Recoleta Alt';
  src: url('font/RecoletaAlt-SemiBold.eot');
  src: url('font/RecoletaAlt-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('font/RecoletaAlt-SemiBold.woff2') format('woff2'),
      url('font/RecoletaAlt-SemiBold.woff') format('woff'),
      url('font/RecoletaAlt-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Recoleta Alt';
  src: url('font/RecoletaAlt-Medium.eot');
  src: url('font/RecoletaAlt-Medium.eot?#iefix') format('embedded-opentype'),
      url('font/RecoletaAlt-Medium.woff2') format('woff2'),
      url('font/RecoletaAlt-Medium.woff') format('woff'),
      url('font/RecoletaAlt-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Recoleta Alt';
  src: url('font/RecoletaAlt-Light.eot');
  src: url('font/RecoletaAlt-Light.eot?#iefix') format('embedded-opentype'),
      url('font/RecoletaAlt-Light.woff2') format('woff2'),
      url('font/RecoletaAlt-Light.woff') format('woff'),
      url('font/RecoletaAlt-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Recoleta Alt';
  src: url('font/RecoletaAlt-Bold.eot');
  src: url('font/RecoletaAlt-Bold.eot?#iefix') format('embedded-opentype'),
      url('font/RecoletaAlt-Bold.woff2') format('woff2'),
      url('font/RecoletaAlt-Bold.woff') format('woff'),
      url('font/RecoletaAlt-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Recoleta Alt';
  src: url('font/RecoletaAlt-Regular.eot');
  src: url('font/RecoletaAlt-Regular.eot?#iefix') format('embedded-opentype'),
      url('font/RecoletaAlt-Regular.woff2') format('woff2'),
      url('font/RecoletaAlt-Regular.woff') format('woff'),
      url('font/RecoletaAlt-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Recoleta Alt';
  src: url('font/RecoletaAlt-Black.eot');
  src: url('font/RecoletaAlt-Black.eot?#iefix') format('embedded-opentype'),
      url('font/RecoletaAlt-Black.woff2') format('woff2'),
      url('font/RecoletaAlt-Black.woff') format('woff'),
      url('font/RecoletaAlt-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Recoleta';
  src: url('font/Recoleta-SemiBold.eot');
  src: url('font/Recoleta-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('font/Recoleta-SemiBold.woff2') format('woff2'),
      url('font/Recoleta-SemiBold.woff') format('woff'),
      url('font/Recoleta-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Recoleta';
  src: url('font/Recoleta-Thin.eot');
  src: url('font/Recoleta-Thin.eot?#iefix') format('embedded-opentype'),
      url('font/Recoleta-Thin.woff2') format('woff2'),
      url('font/Recoleta-Thin.woff') format('woff'),
      url('font/Recoleta-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Recoleta';
  src: url('font/Recoleta-Black.eot');
  src: url('font/Recoleta-Black.eot?#iefix') format('embedded-opentype'),
      url('font/Recoleta-Black.woff2') format('woff2'),
      url('font/Recoleta-Black.woff') format('woff'),
      url('font/Recoleta-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Recoleta';
  src: url('font/Recoleta-Bold.eot');
  src: url('font/Recoleta-Bold.eot?#iefix') format('embedded-opentype'),
      url('font/Recoleta-Bold.woff2') format('woff2'),
      url('font/Recoleta-Bold.woff') format('woff'),
      url('font/Recoleta-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Recoleta Alt';
  src: url('font/RecoletaAlt-Thin.eot');
  src: url('font/RecoletaAlt-Thin.eot?#iefix') format('embedded-opentype'),
      url('font/RecoletaAlt-Thin.woff2') format('woff2'),
      url('font/RecoletaAlt-Thin.woff') format('woff'),
      url('font/RecoletaAlt-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Recoleta';
  src: url('font/Recoleta-Regular.eot');
  src: url('font/Recoleta-Regular.eot?#iefix') format('embedded-opentype'),
      url('font/Recoleta-Regular.woff2') format('woff2'),
      url('font/Recoleta-Regular.woff') format('woff'),
      url('font/Recoleta-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Recoleta';
  src: url('font/Recoleta-Light.eot');
  src: url('font/Recoleta-Light.eot?#iefix') format('embedded-opentype'),
      url('font/Recoleta-Light.woff2') format('woff2'),
      url('font/Recoleta-Light.woff') format('woff'),
      url('font/Recoleta-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Recoleta';
  src: url('font/Recoleta-Medium.eot');
  src: url('font/Recoleta-Medium.eot?#iefix') format('embedded-opentype'),
      url('font/Recoleta-Medium.woff2') format('woff2'),
      url('font/Recoleta-Medium.woff') format('woff'),
      url('font/Recoleta-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


* {
  font-family: 'Recoleta', Arial, Helvetica, sans-serif;
  color: var(--secondary)
}

.recoleta-regular {
  font-family: 'Recoleta', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
}

.recoleta-bold {
  font-family: 'Recoleta', Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.recoleta-black,
.recoleta-regular strong {
  font-family: 'Recoleta', Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-style: normal;
}

.classic .bottom-15-lg {
  bottom: -15vh;
}

.humaaans .bottom-10-lg {
  bottom: 0;
}

.top-20-lg,
.top-30-lg {
  top: 0;
}

.button {
  padding: 10px 25px;
  background-color: var(--primary);
  color: var(--tertiary);
  border: 1px solid var(--primary);
  border-radius: 58px;
  transition: background-color 0.3s ease-out, color 0.3s ease-out;
}

.contacts-button {
  min-width: 48px;
  width: 48px;
  height: 48px;
}

.bg-primary {
  background-color: var(--primary);
}

@media screen and (max-width: 767px) {
  .center-mobile {
    left: 50%;
    transform:translate(-50%, 80px);
    top: 100%;
  }

}

@media screen and (min-width: 768px) {

  .classic .bottom-15-lg {
    bottom: -30vh;
  }

  .humaaans .bottom-10-lg {
    bottom: -10vh;
  }
  .button {
    padding: 16px 40px;
  }

}

@media screen and (min-width: 1024px) {
  .bottom-10-lg,
  .classic .bottom-15-lg {
    bottom: 10vh;
  }

  .top-20-lg {
    top: 20vh;
  }

  .top-30-lg {
    top: 30vh;
  }

  .button {
    background-color: #FFFFFF90;
    color: var(--primary);
  }

  .button:hover {
    background-color: var(--primary);
    color: var(--tertiary);
  }

  .lg\:top-unset{
    top: unset !important;
  }
}



/* ANIMATION */

.floating {
  -webkit-animation: floatingAnimation 4s ease-in-out 0s infinite alternate none running;
  animation: floatingAnimation 4s ease-in-out 0s infinite alternate none running;
}

@-webkit-keyframes floatingAnimation {
  0% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(5px);
  }
}

@keyframes floatingAnimation {
  0% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(5px);
  }
}
