:root {
  --gray-900: #2E2E2E;
  --gray-600:#888888;
  --gray-700:#6C6C6C;
  --gray-100: #F2F2F2;
  --red-600: #F44336;

  --swiper-theme-color: #F44336;

  --font-sans: "Montserrat", serif;
  --font-serif: "Noto Serif JP", serif;

  --shadow-box: 0 10px 50px 0 #F2F2F2;
  --shadow-header: 0 10px 50px 0 rgba(0,0,0,0.05);
  --shadow-cta: 0 12px 24px 0 rgba(244,67,54,0.25);
  --shadow-cta-hover: 0 12px 32px 0 rgba(244,67,54,0.45);
  --shadow-secondary-btn: 0 12px 24px 0 rgba(0,0,0,0.2);

}

strong {
  font-weight: bold;
}

.font-serif {
  font-family: var(--font-serif);
}

.font-sans {
  font-family: var(--font-sans) !important;
}

.text-gray-100 {
  color: var(--gray-100);
}

.text-gray-700 {
  color: var(--gray-700);
}

.text-gray-900 {
  color: var(--gray-900) !important;
}

.text-red-600 {
  color: var(--red-600);
}

.bg-gray-100 {
  background-color: var(--gray-100);
}

.bg-gray-900 {
  background-color: var(--gray-900) !important;
}

.bg-red-600 {
  background-color: var(--red-600);
}

.border-gray-900 {
  border-color: var(--gray-900);
}

.border-red-600 {
  border-color: var(--red-600);
}

.shadow-red-600 {
  box-shadow:var(--shadow-cta);
}

.shadow-gray-100 {
  box-shadow:var(--shadow-box);
}

* {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.font-serif {
  font-family: 'Noto Sans JP', serif !important;
}
.font-sans {
  font-family: 'Montserrat', sans-serif;
}

.font-bold {
  font-weight: 700;
}

.weight-600 {
  font-weight: 600;
}

html {
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  scroll-snap-type: y mandatory;
}

body > section {
  scroll-snap-align: start;
}

.container {
    width: 80% !important;
}
@media (min-width: 640px) {
  .container {
      max-width: 640px !important;
  }
}
@media (min-width: 768px){
  .container {
      width: 60% !important;
      max-width: 768px !important;
  }
}
@media (min-width: 1024px){
  .container {
      width: 80% !important;
      max-width: 1024px !important;
  }
}
@media (min-width: 1280px){
  .container {
      max-width: 1280px !important;
  }
}

/* -----------------------------------------------
    HEADER
------------------------------------------------*/

header h3 {
  color: #1a191b;
  margin: 0;
}

.primary-btn:hover {
  box-shadow:var(--shadow-cta);
  transform: translateY(-0.05rem);
}

header .primary-btn {
  color: var(--gray-900);
  border-color: var(--gray-900);
  background-color: white;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  header .primary-btn {
      color: white;
      border-color: var(--red-600);
      background-color: var(--red-600);
  }
}

@media (min-width: 640px){
  header.scrolled {
      box-shadow: var(--shadow-header);
  }
}
header.scrolled {
    background-color: white;
}
header.scrolled.light {
  background-color: var(--gray-900);
}
header.scrolled.light h3 {
  color: white !important;
}

/* -----------------------------------------------
    HOME
------------------------------------------------*/

#theCanvas {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

#home .visual {
  height: auto;
  width: 50vw;
  max-width: 50vw;
  z-index: 5;
}

.floating {
  -webkit-animation: floatingAnimation 4s ease-in-out 0s infinite alternate none running;
  animation: floatingAnimation 4s ease-in-out 0s infinite alternate none running;
}

@-webkit-keyframes floatingAnimation {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-20px);
  }
}

@keyframes floatingAnimation {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-20px);
  }
}

#home .plane {
  bottom: -66vw;
  right: -62vw;
  width: 160vw;
  height: 160vw;
  z-index: 4;
}

#home h1 {
  font-size: 2rem;
}

@media (min-width: 340px) {
  #home h1 {
      font-size: 2.5rem;
  }
}

/* Small (sm) */
@media (min-width: 640px) {
  /* #home .visual {
      bottom: 2rem;
      right: 3rem;
      height: auto;
      width: 40vw;
      max-width: 40vw;
  } */
  #home .visual {
      margin-left:auto;
  }
  #home .plane {
      bottom: -50vw;
      right: -50vw;
      width: 120vw;
      height: 120vw;
  }

  #home h1 {
      font-size: 3rem;
  }
}

/* Medium (md) */
@media (min-width: 768px) {
  #home .visual {
      bottom: 2rem;
      right: 3rem;
      height: auto;
      width: 40vw;
      max-width: 40vw;
  }

  #home .plane {
      bottom: -50vw;
      right: -50vw;
      width: 120vw;
      height: 120vw;
  }

  #home h1 {
      font-size: 3.5rem;
  }
}

/* Large (lg) */
@media (min-width: 1024px) {
  #home .visual {
      right: 1rem;
      bottom: 7vh;
      height: 70vh;
      width: auto;
      max-width: 35vw;
  }

  #home .plane {
      bottom: -40vw;
      right: -60vw;
      width: 120vw;
      height: 120vw;
  }

  #home h1 {
      font-size: 3rem;
  }
}

/* Extra Large (xl) */
@media (min-width: 1280px) {
  #home .visual {
      max-width: 40vw;
      right: 3rem;
  }

  #home h1 {
      font-size: 3.5rem;
  }
}

@media (min-width: 1440px) {
  #home h1 {
      font-size: 4.5vw;
  }

  #home .visual {
      right: 10vw;
  }
}

/* -----------------------------------------------
    SKILLS
------------------------------------------------*/

#skills .visual {
  bottom: 2rem;
  right: 2rem;
  height: 25vh;
  width: auto;
  max-width: 40vw;
  z-index: 5;
}
@media (min-width: 640px){
  #skills .visual {
      bottom: 3rem;
      right: 3rem;
  }
}
@media (min-width: 1024px) {
  #skills .visual {
      bottom: 3rem;
      left: 3rem;
      right: auto;
  }
}
.section-label.on-dark strong:after {
  background-color: white;
}
.section-label.on-light strong:after {
  background-color: var(--gray-900);
}
.section-label strong:after {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: -2px;
  left: 0;
}


#about .visual {
  bottom: 2rem;
  right: 2rem;
  height: 25vh;
  width: auto;
  max-width: 40vw;
  z-index: 5;
}
@media (min-width: 768px){
  #about .visual {
      bottom: 3rem;
      right: 3rem;
  }
}


/* -----------------------------------------------
    CONTACTS
------------------------------------------------*/


.card:hover {
  transform: translateY(-0.5rem);
}
.card {
  transition: all .5s ease;
}