@font-face {
    font-family: 'Recoleta Alt';
    src: url('RecoletaAlt-SemiBold.eot');
    src: url('RecoletaAlt-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('RecoletaAlt-SemiBold.woff2') format('woff2'),
        url('RecoletaAlt-SemiBold.woff') format('woff'),
        url('RecoletaAlt-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Recoleta Alt';
    src: url('RecoletaAlt-Medium.eot');
    src: url('RecoletaAlt-Medium.eot?#iefix') format('embedded-opentype'),
        url('RecoletaAlt-Medium.woff2') format('woff2'),
        url('RecoletaAlt-Medium.woff') format('woff'),
        url('RecoletaAlt-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Recoleta Alt';
    src: url('RecoletaAlt-Light.eot');
    src: url('RecoletaAlt-Light.eot?#iefix') format('embedded-opentype'),
        url('RecoletaAlt-Light.woff2') format('woff2'),
        url('RecoletaAlt-Light.woff') format('woff'),
        url('RecoletaAlt-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Recoleta Alt';
    src: url('RecoletaAlt-Bold.eot');
    src: url('RecoletaAlt-Bold.eot?#iefix') format('embedded-opentype'),
        url('RecoletaAlt-Bold.woff2') format('woff2'),
        url('RecoletaAlt-Bold.woff') format('woff'),
        url('RecoletaAlt-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Recoleta Alt';
    src: url('RecoletaAlt-Regular.eot');
    src: url('RecoletaAlt-Regular.eot?#iefix') format('embedded-opentype'),
        url('RecoletaAlt-Regular.woff2') format('woff2'),
        url('RecoletaAlt-Regular.woff') format('woff'),
        url('RecoletaAlt-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Recoleta Alt';
    src: url('RecoletaAlt-Black.eot');
    src: url('RecoletaAlt-Black.eot?#iefix') format('embedded-opentype'),
        url('RecoletaAlt-Black.woff2') format('woff2'),
        url('RecoletaAlt-Black.woff') format('woff'),
        url('RecoletaAlt-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Recoleta';
    src: url('Recoleta-SemiBold.eot');
    src: url('Recoleta-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('Recoleta-SemiBold.woff2') format('woff2'),
        url('Recoleta-SemiBold.woff') format('woff'),
        url('Recoleta-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Recoleta';
    src: url('Recoleta-Thin.eot');
    src: url('Recoleta-Thin.eot?#iefix') format('embedded-opentype'),
        url('Recoleta-Thin.woff2') format('woff2'),
        url('Recoleta-Thin.woff') format('woff'),
        url('Recoleta-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Recoleta';
    src: url('Recoleta-Black.eot');
    src: url('Recoleta-Black.eot?#iefix') format('embedded-opentype'),
        url('Recoleta-Black.woff2') format('woff2'),
        url('Recoleta-Black.woff') format('woff'),
        url('Recoleta-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Recoleta';
    src: url('Recoleta-Bold.eot');
    src: url('Recoleta-Bold.eot?#iefix') format('embedded-opentype'),
        url('Recoleta-Bold.woff2') format('woff2'),
        url('Recoleta-Bold.woff') format('woff'),
        url('Recoleta-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Recoleta Alt';
    src: url('RecoletaAlt-Thin.eot');
    src: url('RecoletaAlt-Thin.eot?#iefix') format('embedded-opentype'),
        url('RecoletaAlt-Thin.woff2') format('woff2'),
        url('RecoletaAlt-Thin.woff') format('woff'),
        url('RecoletaAlt-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Recoleta';
    src: url('Recoleta-Regular.eot');
    src: url('Recoleta-Regular.eot?#iefix') format('embedded-opentype'),
        url('Recoleta-Regular.woff2') format('woff2'),
        url('Recoleta-Regular.woff') format('woff'),
        url('Recoleta-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Recoleta';
    src: url('Recoleta-Light.eot');
    src: url('Recoleta-Light.eot?#iefix') format('embedded-opentype'),
        url('Recoleta-Light.woff2') format('woff2'),
        url('Recoleta-Light.woff') format('woff'),
        url('Recoleta-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Recoleta';
    src: url('Recoleta-Medium.eot');
    src: url('Recoleta-Medium.eot?#iefix') format('embedded-opentype'),
        url('Recoleta-Medium.woff2') format('woff2'),
        url('Recoleta-Medium.woff') format('woff'),
        url('Recoleta-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

